package templates

import "github.com/anthonyposchen/auosrs.git/templates/partials"

templ Index() {
	<html>
		@partials.Head() {
			<title>AUOSRS Home</title>
		}
		<body>
			<div class="mytext">
				Hello World from templ :D :D
			</div>
		</body>
	</html>
}
